
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 247 100% 94%;
    --foreground: 266 62% 15%;
    --card: 0 0% 100%;
    --card-foreground: 266 62% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 266 62% 15%;
    --primary: 266 62% 46%;
    --primary-foreground: 0 0% 98%;
    --secondary: 266 20% 90%;
    --secondary-foreground: 266 62% 20%;
    --muted: 266 20% 90%;
    --muted-foreground: 266 20% 40%;
    --accent: 321 62% 46%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 266 20% 85%;
    --input: 266 20% 85%;
    --ring: 266 62% 46%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
